div(id=datos._id)
    h2= nombre 
    if datos.imagen 
        img(src='/static/images/'+datos._id+'.jpg')
    if datos.length != 0
        ul 
            each dato, atributo in datos
                if (atributo != 'imagen')
                    li #{atributo}: #{dato}
            if (datos.producto.length != 0)
                h3 Productos
                ul.listaProductos(style="margin-top: 20px;")
                    each producto in datos.producto
                        li.producto
                            each valor, atributo in producto
                                if (atributo != 'imagenesProducto')
                                    p #{atributo}: #{valor}
                                        if (atributo == 'nombre')
                                            button(hx-get="/restaurantes/"+datos._id+"/editProduct" hx-vals=`{"nombreProducto":"${valor}"}` hx-target="#content") 
                                                img(src="/static/icons/edit.png" alt="edit")
                                            button(hx-delete="/restaurantes/"+datos._id+"/deleteProduct/"+valor hx-target="#content") 
                                                img(src="/static/icons/trash.png" alt="delete")
                                        //prodcuto tiene _id???
                                else  
                                    .slider
                                        button#btn-derecha
                                            img(src="/static/icons/arrow_right.png" alt=">")
                                        button#btn-izquierda() 
                                            img(src="/static/icons/arrow_left.png" alt="<")
                                        .slides
                                                each imagen in valor
                                                    .slide
                                                        #contenedor-img
                                                            img#img-producto(src='/static/images/'+imagen.id onerror="this.remove()")
                                                        
            else 
                p Este restaurante no tiene productos
    else 
        p No hay datos

    button(hx-get="/admin/restaurantes/"+datos._id+"/addProduct" hx-target="#content") Agregar Producto
