include ../componentes/productCard.pug
div(id=datos._id)
    // URl DE USER
    if baseURL == '/user'
        button(class='absolute bottom-5 right-5 rounded-md border border-customGreen bg-customGreen px-4 py-3 text-sm font-medium text-white transition hover:bg-transparent hover:text-customGreen' hx-get=baseURL+"/listadoProductos"  hx-target="#content") volver
    
    if datos.length != 0
        p(class='text-3xl font-bold leading-9 text-center tracking-tight bg-gradient-to-t from-lime-700 to-green-900 bg-clip-text text-transparent mb-6')= datos.nombre
        ul(class='space-y-2 text-center')
            li(class='text-lg font-bold text-gray-800')
                | Direccion: #{datos.calle} #{datos.numero}, #{datos.ciudad}
        if (productos.length != 0)
            p(class='text-lg font-bold leading-9 tracking-tight bg-gradient-to-t from-lime-700 to-green-900 bg-clip-text text-transparent') Productos
            ul.listaProductos
                each producto in productos
                    if baseURL == '/user'
                        +productCard(producto, true,datos.nombre)
                    else if baseURL == '/admin/restaurantes'
                        +productCard(producto, false,datos.nombre)
        else 
            p Este restaurante no tiene productos
    else 
        p No hay datos
    if baseURL == '/admin/restaurantes'
        button(hx-get="/admin/restaurantes/"+datos._id+"/addProduct" hx-target="#content" class='w-60 inline-block shrink-0 rounded-md border border-blue-600 bg-blue-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-transparent hover:text-blue-600 focus:outline-none focus:ring active:text-blue-500 dark:hover:bg-blue-700 dark:hover:text-white') Agregar Producto
