div(class='flex flex-col items-center justify-center')
  p(class='text-2xl font-bold leading-9 tracking-tight text-gray-900') Editar Producto
  form(
    id='formNewRestaurante'
    action="/admin/restaurantes/"+ restauranteId +"/edit/"+ productoId
    method="post"
    class="mt-8 grid grid-cols-6 gap-6")
    div(class="col-span-6")
      label(
        for="nombre"
        class="block text-sm font-medium text-gray-700") Nombre Del Producto:
      input(
        type="text"
        placeholder='Nombre del producto'
        name='nombre'
        value=producto.nombre
        required
        class="mt-1 w-full rounded-md border-gray-200 bg-white px-3 py-2.5 font-sans font-normal text-gray-700 shadow-sm")

    div(class="col-span-6 sm:col-span-3")
      label(
        for="descripcion"
        class="block text-sm font-medium text-gray-700") Descripcion:
      input(
        type="text"
        placeholder='Descripcion'
        name='descripcion'
        value=producto.descripcion
        required
        class="mt-1 w-full rounded-md border-gray-200 bg-white px-3 py-2.5 font-sans font-normal text-gray-700 shadow-sm")

    div(class="col-span-6 sm:col-span-3")
      label(
        for="precio"
        class="block text-sm font-medium text-gray-700") Precio:
      input(
        type="text"
        placeholder='Precio'
        name='precio'
        value=producto.precio
        required
        class="mt-1 w-full rounded-md border-gray-200 bg-white px-3 py-2.5 font-sans font-normal text-gray-700 shadow-sm")

    div(class="col-span-6 sm:col-span-3")
      label(
        for="fecha_caducidad"
        class="block text-sm font-medium text-gray-700") Fecha de caducidad:
      div(class="relative h-10 w-full min-w-[200px]")
        input(
          type="text"
          id="date-picker"
          placeholder='Fecha de caducidad'
          name='fecha_caducidad'
          value=producto.fecha_caducidad 
          required
          class="mt-1 w-full rounded-md border border-gray-200 bg-white px-3 py-2.5 font-sans font-normal text-gray-700 shadow-sm outline outline-0 transition-all placeholder-shown:border placeholder-shown:border-gray-200 placeholder-shown:border-t-gray-200 focus:border-2 focus:border-gray-900 focus:outline-0 disabled:border-0 disabled:bg-gray-50"
        )
        label(
          class="before:content[' '] after:content[' '] pointer-events-none absolute left-0 -top-1.5 flex select-none !overflow-visible truncate text-[11px] font-normal leading-tight text-gray-500 transition-all before:pointer-events-none before:mt-[6.5px] before:mr-1 before:box-border before:block before:h-1.5 before:w-2.5 before:rounded-tl-md before:border-t before:border-l before:border-gray-200 before:transition-all after:pointer-events-none after:mt-[6.5px] after:ml-1 after:box-border after:block after:h-1.5 after:w-2.5 after:flex-grow after:rounded-tr-md after:border-t after:border-r after:border-gray-200 after:transition-all peer-placeholder-shown:text-sm peer-placeholder-shown:leading-[3.75] peer-placeholder-shown:text-gray-500 peer-placeholder-shown:before:border-transparent peer-placeholder-shown:after:border-transparent peer-focus:text-[11px] peer-focus:leading-tight peer-focus:text-gray-900 peer-focus:before:border-t-2 peer-focus:before:border-l-2 peer-focus:before:!border-gray-900 peer-focus:after:border-t-2 peer-focus:after:border-r-2 peer-focus:after:!border-gray-900 peer-disabled:text-transparent peer-disabled:before:border-transparent peer-disabled:after:border-transparent peer-disabled:peer-placeholder-shown:text-gray-500")

    div(class="col-span-6 sm:col-span-3")
      label(
        for="stock"
        class="block text-sm font-medium text-gray-700") Cantidad Disponible:
      input(
        type="text"
        placeholder='Cantidad Disponible'
        name='stock'
        value=producto.stock
        required
        class="mt-1 w-full rounded-md border-gray-200 bg-white px-3 py-2.5 font-sans font-normal text-gray-700 shadow-sm")

    div(class="col-span-6 sm:flex sm:items-center sm:gap-4")
      button(
        type='submit'
        class="w-full inline-block shrink-0 rounded-md border border-customGreen bg-customGreen px-4 py-3 text-center font-medium text-white transition hover:bg-transparent hover:text-customGreen") Editar producto


if errors
    ul
        for error in errors
            li!= error.msg

include ../scripts/datePicker.pug